#include <windows.h>
#include "demo.h"

IDD_TEST DIALOG 36, 57, 198, 109
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION |
  WS_SYSMENU | 0x2000 | 0x0004
CAPTION "ExpWinVer Demo Application"
FONT 8, "MS Sans Serif"
{
  GROUPBOX "", -1, 6, 3, 189, 81, BS_GROUPBOX | WS_GROUP
  CTEXT "", IDC_TAG, 15, 15, 171, 10, SS_CENTER |
    NOT WS_GROUP | SS_NOPREFIX | WS_BORDER
  LTEXT "ExpWinVer:", -1, 16, 30, 42, 8, NOT WS_GROUP |
    SS_NOPREFIX
  CTEXT "", IDC_EXPWINVER, 59, 30, 126, 10, SS_CENTER |
    NOT WS_GROUP | SS_NOPREFIX | WS_BORDER
  LTEXT "Style:", -1, 17, 48, 42, 8, NOT WS_GROUP |
    SS_NOPREFIX
  CTEXT "", IDC_STYLE, 60, 48, 126, 10, SS_CENTER |
    NOT WS_GROUP | SS_NOPREFIX | WS_BORDER
  LTEXT "ExStyle:", -1, 17, 65, 42, 8, NOT WS_GROUP |
    SS_NOPREFIX
  CTEXT "", IDC_EXSTYLE, 60, 65, 126, 10, SS_CENTER |
    NOT WS_GROUP | SS_NOPREFIX | WS_BORDER
  DEFPUSHBUTTON "OK", IDOK, 29, 90, 61, 14,
    BS_DEFPUSHBUTTON | WS_GROUP | WS_TABSTOP
  PUSHBUTTON "Change Style", IDC_CHANGE, 108, 90, 61, 14,
    WS_GROUP | WS_TABSTOP
}

